from ninja.pagination import PaginationBase
from ninja import Schema
from typing import List, Any
from django.conf import settings


class Input(Schema):
    page: int
    size: int


def resolve_links(pagination: Input, total: int, resource_name: str):
    base_path = settings.API_BASE_PATH + resource_name
    links = {
        "prev": f"{base_path}/?page={pagination.page - 1}&size={pagination.size}" if pagination.page > 1 else f"{base_path}/?page=1&size={pagination.size}",
        "first": f"{base_path}/?page=1&size={pagination.size}",
        "last": f"{base_path}/?page={round(total / pagination.size)}&size={pagination.size}",
        "next": f"{base_path}/?page={pagination.page + 1}&size={pagination.size}" if pagination.page <= int(
            total / pagination.size) else f"{base_path}/?page={int(total / pagination.size)}&size={pagination.size}"
    }
    return links


{% for model in models %}
class {{ model.__name__ }}Pagination(PaginationBase):
    # only `skip` param, defaults to 5 per page
    class Input(Schema):
        page: int
        size: int

    class Output(Schema):
        {{ model.__name__|lower }}s: List[Any]  # `items` is a default attribute
        total: int
        page: int
        per_page: int
        links: dict

    items_attribute: str = "{{ model.__name__|lower }}s"

    def resolve_links(self, pagination: Input, total: int):
        return resolve_links(pagination, total, self.items_attribute)

    def paginate_queryset(self, queryset, pagination: Input, **params):
        page = pagination.page
        size = pagination.size
        total = queryset.count()
        return {
            '{{ model.__name__|lower }}s': queryset[(page - 1) * size: page * size],
            'total': total,
            'page': page,
            'per_page': size,
            'links': {
                **self.resolve_links(pagination, total)
            }
        }

{% endfor %}